img {
    max-width: 100% ;
    max-height: 100%;
}


.card-wrapper:hover .wrapper {
  background-color: rgba(0,0,0,0.8);
  color: white;
  visibility: visible;
}

.card-wrapper {
  background-repeat: no-repeat;

}
.wrapper {
  padding: 10px 20px;
  visibility: hidden;
}

.card-wrapper p {
  font-size: 1em;
}
.card-wrapper h1 {
  font-size: 1.5em;
  font-weight: bold;
}

span.read-more {
    color: lightblue;
    cursor: pointer;
}
